@keyframes entering {
  from { 
    opacity: 0;
    transform: translateY(-200px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

body{
  margin: 0;
  padding: 0;
  background-image: url('/Assets/bb.jpg');
  background-size: cover;
  background-position: top; /* Opcional: centraliza a imagem no meio */
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
}


.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #ffffff;
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

input[type="radio"] {
  display: none;
}

label {
  margin: 10px;
  font-size: 85%;
  color: #ffffff;
  display: block;
  padding: 6px 16px;
  padding-right: 0%;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="radio"]:checked + label {
  background-color: #f4f4f4;
}

.result {
  text-align: center;
  font-size: 155%;
  line-height: 1.5;
  margin-bottom: 0px;
  color: #ff0000;
}

.button {
  font-size: 140%;
  display: inline-block;
  padding: 5px 30px;
  background-color: #00ff15;
  color: #fff;
  text-decoration: none;
  border-radius: 80px;
  transition: background-color 0.2s;
  margin-bottom: 25px;
}

button:hover {
  background-color: #ff1a1a; /* Vermelho */
}

input[type="radio"]:checked + label {
  background-color: #ff1a1a; /* Vermelho */
}

.trasparente1{
  height: 235px;
}

.trasparente2{
  height: 110px;
}

.trasparente3{
  height: 135px;
}

@media (max-width: 415px) {

  .trasparente1{
    height: 225px;
  }
  
  .trasparente2{
    height: 110px;
  }
  
  .trasparente3{
    height: 140px;
  }

  label {
    padding: 4px 16px;
    font-size: 87%;
    padding-right: 0%;
  }

  .container {
    max-width: 305px;
  }
}

@media (max-width: 413px) {

  .trasparente1{
    height: 225px;
  }
  
  .trasparente2{
    height: 115px;
  }
  
  .trasparente3{
    height: 143px;
  }

  label {
    padding: 4px 16px;
    font-size: 84%;
    padding-right: 0%;
  }

  .container {
    max-width: 345px;
  }
}

@media (max-width: 390px) {

  .trasparente1{
    height: 210px;
  }
  
  .trasparente2{
    height: 105px;
  }
  
  .trasparente3{
    height: 130px;
  }

  label {
    padding: 4px 16px;
    font-size: 78%;
    padding-right: 0%;
  }

  .container {
    max-width: 325px;
  }
}

@media (max-width: 376px) {

  .trasparente1{
    height: 202px;
  }
  
  .trasparente2{
    height: 93px;
  }
  
  .trasparente3{
    height: 115px;
  }

  label {
    padding: 4px 16px;
    font-size: 75%;
    padding-right: 0%;
  }

  .container {
    max-width: 311px;
  }
}